body {
    background-color: #000;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.drop-zone {
    border: 2px dashed #00ff00;
    padding: 20px;
    background-color: #111;
    margin-bottom: 20px;
    cursor: pointer;
    color: #00ff00;
}

.drop-zone.hover {
    background-color: #222;
    border-color: #33ff33; 
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.image-container img {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid #00ff00;
    padding: 5px;
    background-color: #111;
    object-fit: cover;
}

#backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #00ff00;s
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
}

#backButton:hover {
    text-decoration: underline;
}

/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    border: 2px solid #00ff00;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #00ff00;
    font-size: 30px;
    cursor: pointer;
}

#deleteImage {
    position: absolute;
    top: 20px;
    left: 30px;
    padding: 10px;
    color: #00ff00;
    background-color: transparent;
    border: 1px solid #00ff00;
    cursor: pointer;
}
